<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css.css">
    <style>
        
    </style>
</head>
<body>
    <header>
        <img src="../assets/img/logo/logo.png" alt="Job Finder">
        <nav class="top-nav">
            <ul>
                <li><a href="Home.html"> Home</a></li>
                <li><a href="Home.html"> Employer</a></li>
                <li><a href="Home.html"> Job Seeker</a></li>
                <li><a href="Home.html"> News</a></li>
                <li><a href="Home.html"> About Us</a></li>
                <li><a href="Home.html"> Contact Us</a></li>
            </ul>
        </nav>

        <div class="btn-fill-box">
            <a href=""><button type="button" class="btn-fill">Login</button></a>
            <a href=""><button type="button" class="btn-fill">Sign Up</button></a>
        </div>
    </header>
    <!-- End header -->
    <!-- Begin main -->
    <main>
        <!-- Begin heading -->
        <section class="">

        </section>

        <!-- Begin section 2 -->
        <section class="section-heading">
            <div class="continar">
                <div class="row">
                    <h1>24k Talented people are getting Jobs</h1>
                </div>

                <div class="row">
                    <form action="" class="form-box">
                        <div class="search-box">
                            <input type="search" name="txt_search" p id="" placeholder="Job title, Keywords or company">
                        </div>
                        <div class="input-pox">
                            <input type="text" name="country" placeholder="Country">
                        </div>
                        <div class="submit-box">
                            <input type="submit" name="btn_search" value="Search" class="btn_search">
                        </div>   
                    </form>
                </div>
            </div>
        </section>
                <!-- Begin section 2 -->
        <section class="section-2">
            <div class="continar">

                    <h2 style="text-align: center;">How it works</h2>

                <div class="row">
                    <ul style="display: flex;">
                        <li>
                            <img src="../assets/img/icon/job-list4.png" alt="img">
                            <h3>1.Search job</h3>
                            <p>
                                Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.
                            </p>
                        </li>

                        <li style="width: 300px;text-align: center;margin: auto;" >
                            <img src="../assets/img/icon/job-list4.png" alt="img">
                            <h3>1.Search job</h3>
                            <p>
                                Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.
                            </p>
                        </li>

                        <li style="width: 300px;text-align: center;margin: auto;" >
                            <img src="../assets/img/icon/job-list4.png" alt="img">
                            <h3>1.Search job</h3>
                            <p>
                                Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>


        <!-- Begin section 3 -->
        <section class="section-3">
            <div class="continar">
                    <h2 style="text-align: center;">Our Employers</h2>
                <div class="row">
                    <ul style="display: flex;">
                        <li>
                            <img src="../assets/img/icon/job-list4.png" alt="img">
                            <h3>1.Search job</h3>
                            <p>
                                Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.
                            </p>
                            <button type="button" class="sec-btn" > View Provil</button>
                        </li>

                        <li style="width: 300px;text-align: center;margin: auto;" >
                            <img src="../assets/img/icon/job-list4.png" alt="img">
                            <h3>1.Search job</h3>
                            <p>
                                Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.
                            </p>
                            <button type="button" class="sec-btn" > View Provil</button>
                        </li>

                        <li style="width: 300px;text-align: center;margin: auto;" >
                            <img src="../assets/img/icon/job-list4.png" alt="img">
                            <h3>1.Search job</h3>
                            <p>
                                Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.
                            </p>
                            <button type="button" class="sec-btn" > View Provil</button>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Begin section 4 -->
        <section class="section-4">
            <div class="continar">
                    <h2 style="text-align: center;">Our Job Seekers</h2>
                <div class="row">
                    <ul style="display: flex;">
                        <li>
                            <img src="../assets/img/icon/job-list4.png" alt="img">
                            <h3>1.Search job</h3>
                            <p>
                                Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.
                            </p>
                            <button type="button" class="sec-btn" > View Provil</button>
                        </li>

                        <li style="width: 300px;text-align: center;margin: auto;" >
                            <img src="../assets/img/icon/job-list4.png" alt="img">
                            <h3>1.Search job</h3>
                            <p>
                                Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.
                            </p>
                            <button type="button" class="sec-btn" > View Provil</button>
                        </li>

                        <li style="width: 300px;text-align: center;margin: auto;" >
                            <img src="../assets/img/icon/job-list4.png" alt="img">
                            <h3>1.Search job</h3>
                            <p>
                                Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.
                            </p>
                            <button type="button" class="sec-btn" > View Provil</button>
                        </li>
                    </ul>
                </div>
            </div>
        </section>


        <!-- Begin section 5 News -->
        <section class="section-5">
            <div class="continar">
                    <h2 style="text-align: center;">Most Recent News</h2>
                <div class="row">
                    <ul style="display: flex;">
                        <li>
                            <img src="../assets/img/icon/job-list4.png" alt="img">
                            <h3>1.Search job</h3>
                            <p>
                                Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.
                            </p>
                            <button type="button" class="sec-btn" > View Provil</button>
                        </li>

                        <li style="width: 300px;text-align: center;margin: auto;" >
                            <img src="../assets/img/icon/job-list4.png" alt="img">
                            <h3>1.Search job</h3>
                            <p>
                                Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.
                            </p>
                            <button type="button" class="sec-btn" > View Provil</button>
                        </li>

                        <li style="width: 300px;text-align: center;margin: auto;" >
                            <img src="../assets/img/icon/job-list4.png" alt="img">
                            <h3>1.Search job</h3>
                            <p>
                                Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.
                            </p>
                            <button type="button" class="sec-btn" > View Provil</button>
                        </li>
                    </ul>
                </div>
            </div>
        </section>


        <!-- Begin section 6 -->
        <section class="section-6">
            <div class="continar">
                <div class="row">
                    <ul>
                        <li>
                            <ul class="footer-box-ul">
                                <li><h4>For Job Seeker</h4></li>
                                <li><a href="">Brows Jobs</a></li>
                                <li><a href="">Brows Categories</a> </li>
                                <li><a href="">Job Seeker Dashboard </a></li>
                            </ul>

                        </li>

                        <li >
                            <ul class="footer-box-ul">
                                <li><h4>For Job Employers</h4></li>
                                <li><a href="">Brows Job Seekers</a></li>
                                <li><a href="">Employer Dashboard</a> </li>
                                <li><a href="">Post Job</a></li>
                                <li><a href="">Manage Jobs</a></li>
                            </ul>

                        </li>

                        <li>
                            <ul  class="footer-box-ul">
                                <li><h4>About Us</h4></li>
                                <li>
                                    <p>
                                        Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.
                                    </p>
                                </li>


                            </ul>

                        </li>

                        <li >
                            <ul class="footer-box-ul">
                                <li><h4>Contact Us</h4></li>
                                <li>Address: Yemen - Taizz</li>
                                <li>Office No: 772053912 </li>
                                <li>Mobile: 717168783</li>
                                <li>Email : jobportal@gmail.com</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

    </main>

    <footer>

    </footer>
    
</body>
</html>